#welcome {
	display: flex;
	flex-direction: column;
	font-family: 'Gentona', sans-serif;
	background-color: var(--key-orange);
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.w-main-title-link {
	color: white;
	display: block;
}

.welcome-header {
	font-family: 'Canela', sans-serif;
	color: var(--key-red);
	font-size: 3rem;
	text-align: center;
	padding: 5vmin;
	z-index: 10;
	display: flex;
	flex-direction: row;
	width: 20vw;
	margin: 0 auto;
}

.section-title {
	color: var(--key-yellow);
	font-family: 'Canela', sans-serif;
	font-size: 5rem;
	margin: 0;
	z-index: 10;
}

.regular-section-title {
	margin: 50px 0;
}

.section-caption {
	font-family: 'Gentona', sans-serif;
	font-size: 2rem;
	margin-bottom: 20px;
}

.links-row {
	display: flex;
	flex-direction: row;
	z-index: 10;
}

.section-title-wrapper {
	color: var(--key-yellow);
}

.section-1 {
	min-height: 100vh;
}

.section-1 .section-title-wrapper, .links-row, .section-2 {
	left: 5vw;
	width: 90vw;
	position: relative;
}

section.section-1 .section-title-wrapper, .links-row {
	width: 40vw;
	position: relative;
}

.welcome-action-filled, .welcome-action-login {
	width: fit-content;
	padding: 10px;
	font-family: 'Gentona', sans-serif;
	font-weight: 100;
	border-radius: 5px;
}

.welcome-action-login {
	margin-left: 25px;
	border: 1px solid var(--key-yellow);
	font-size: 1.8rem;
	color: var(--key-yellow);
}

.welcome-action-unfilled {
	border: 1px solid var(--key-yellow);
	color: var(--key-yellow);
	margin: 20px;
	font-size: 2rem;
	border-radius: 8px;
	padding: 10px;
	margin-left: 0;
}

.down-button-wrapper-wrapper {
	width: fit-content;
	margin: auto;
	z-index: 10;
    position: absolute;
    bottom: 0;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.down-button-wrapper {
	margin: auto;
	padding: 15px;
	border-radius: 100px;
	border: 1px solid var(--key-yellow);
	width: fit-content;
	display: block;
}

.down-button-wrapper svg {
	color: var(--key-yellow);
}

.down-button-desc {
	color: var(--key-yellow);
	font-size: 1.9rem;
	padding-bottom: 10px;
	font-weight: 300;
}

.kitchen-table-image {
	width: 110vw;
	position: absolute;
	bottom: 0;
	transform: translateY(30%);
	left: -5vw;
	z-index: 2;
}

.recipe-corner-image {
	width: 50vw;
	position: absolute;
	top: 0;
	right: 0;
}
.cookie-desktop-image {
	width: 40vw;
	position: absolute;
	bottom: 20vh;
	left: 50vw;
	z-index: 1;	
}

section.section-2 {
	color: var(--key-yellow);
}

.w-feature-row-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 80vw;
}

.w-feature-wrapper {
	display: flex;
	flex-direction: column;
}

.w-feature-image {
	width: 20vw;
}

.w-feature-section-title {
	text-align: center;
	font-size: 3rem;
	font-family: 'Canela', serif;
}

.w-feature-description {
	width: 20vw;
	font-size: 2rem;
	text-align: center;
}

.select-lang-dropdown {
	background-color: var(--key-orange);
	border: 1px solid black;
	border-radius: 5px;
	font-weight: 100;
	position: relative;
	left: -40vw;
	transform: translateX(-100%);
}

.section-2, .section-3 {
	position: relative;
	left: 10vw;
	width: 80vw;
}

.w-sshot-wrapper-wrapper {
	display: flex;
	flex-direction: column;
}

.w-sshot-wrapper {
	display: flex;
	flex-direction: row;
	width: 80vw;
	justify-content: space-between;
	margin-bottom: 50px;
}

.w-sshot-image {
	width: 30vw;
}

.w-sshot-info {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	text-align: left;
	margin-left: 50px;
}

.w-sshot-title {
	font-size: 3rem;
	font-family: 'Canela', sans-serif;
	color: var(--key-yellow);
	margin-top: 0;
}

.w-sshot-desc {
	color: var(--key-yellow);
	font-size: 2rem;
}

.welcome-footer {
	width: 80vw;
	left: 10vw;
	border-top: 1px solid var(--key-yellow);
	position: relative;
	text-align: center;
	padding: 5vh 0;
	font-size: 2rem;
	line-height: 3rem;
}
.welcome-footer a {
}
.footer-gh-logo {
	width: 30px;
	height: auto;
	padding-right: 5px;
	transform: translateY(25%);
}