.recipe-info-name {
	font-weight: 700;
	font-size: 4.5rem;
	text-transform: capitalize;
	margin: 0;
}

.recipe-info-serves {
	font-size: 1.5rem;
	margin: 10px 0 15px 0;
	font-family: 'Domaine Text', serif;
	font-weight: 300;
}

.recipe-info-notes {
	white-space: pre-line;
	font-size: 1.5rem;
}

.recipe-info-ing-list, .recipe-info-notes {
	font-family: 'Domaine Text', serif;
	font-weight: 300;
}

.recipe-info-ing-list {
	font-size: 1.7rem;
	list-style: none;
	display: inline-block;
	margin-right:20px;
}

.recipe-info-label {
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 500;
	color: var(--key-red);
	margin: 30px 0 10px 0;
	font-weight: 500;
	font-family: 'Styrene', sans-serif;
}

span.recipe-info-group-letter-label {
	font-size: 1.2rem;
	position: absolute;
	color: var(--medium-brown);
	font-family: 'Styrene', sans-serif;
	padding-top: 0.5rem;
	left:-2rem;
}

.recipe-info-ingredient-note {
	color: var(--medium-red);
	font-size: 1.1rem;
	display: block;
	margin-left: 1.1rem;
}
.recipe-group-wrapper {
	display: flex;
	flex-direction: row;
	margin: 10px 0;	
}

.recipe-info-ing-list-group {
	background-image: linear-gradient(to right, var(--medium-red) 20%, rgba(255,255,255,0) 0%);
	background-position: top;
	background-size: 10px 2px;
	background-repeat: repeat-x;
	position: relative;
	padding: 20px 0;
	width: 25vw;
}

.recipe-info-ing-item {
	margin: 0;
}

.recipe-info-error-message {
	font-size: 2em;
	font-weight: 300;
}

.recipe-list-item-wrapper p {
	margin: 0.5rem 0 0.5rem 0;
}

.recipe-info-group-name {
	font-family: 'Styrene', sans-serif;
	text-transform: uppercase;
	color: var(--key-red);
	font-size: 1.2rem;
	padding-left: 10px;
}

.recipe-info-group-note {
	color: var(--medium-red);
	font-size: 1.1rem;
	padding-left: 10px;
}

.recipe-group-info-box {
	border-left: 1px solid var(--key-red);
	height: fit-content;
	padding-bottom: 15px;
}

.recipe-info-ingredients-item-parent {
	margin-right:20px;
}

.recipe-image {
	width: 40vw;
}

.strikethrough {
	text-decoration: line-through;
}

.ri-top-buttons {
	background-color: var(--faint-grey);
	border: 1px solid var(--light-grey);
    border-radius: 2px;
    display: inline-block;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 50px;
    font-size: 1.5rem;
    margin-right: 20px;
}

.ri-top-buttons a {
	padding: 20px;
	display: inline-block;
}