.recipe-list-item-wrapper {
	padding:10px;
	cursor: pointer;
	border-bottom: 2px solid var(--light-brown);
}
.recipe-list-item-wrapper:focus {
	outline: none;
}

.recipe-list-item-wrapper p {
 	font-weight: 500;
	font-size: 2em;
}

.selected {
	color: var(--key-red);
	transition: 0.1s;
}

.add-recipe-list-item-wrapper p {
	color: var(--medium-brown);
}
