#recipe-list {
	width: 30vw;
	overflow-y: scroll;
	height:70vh;
}

.recipe-list-item-wrapper {
	padding:10px;
	text-transform: capitalize;
	cursor: pointer;
	text-decoration: none;
	color: black;
	display: block;
	border-bottom: 2px solid var(--light-brown);
}
.recipe-list-item-wrapper:focus {
	outline: none;
}

.recipe-list-item-wrapper p {
	text-decoration: none;
 	font-weight: 500;
	font-size: 2em;
}

.selected {
	color: var(--key-red);
	transition: 0.1s;
}

.list-item-wrapper-link p {
	color: var(--medium-brown);
}

.load-more-button {
	font-family: 'Apercu', sans-serif;
	color: var(--darker-medium-brown);
	padding: 10px;
}

.default-cursor { 
  cursor: default;
}

.quick-search-field {
	background-color: var(--faint-grey);
	border: 1px solid var(--light-grey);
	margin: 10px;
	margin-left: 0;
	width: 28vw;
	padding: 8px;
	height: auto;
	background-image: url(../../assets/icons/search.svg);
	background-repeat: no-repeat;
	background-position-x: 98%;
	background-position-y: 50%;
	border-radius: 2px;
	padding-right: 2rem;
	font-size: 1.2rem;
	color: black;
}

.quick-search-field::placeholder {
	font-size: 1.2rem;
}

.quick-search-field:focus {
	background-color: white;
	border: 1px solid var(--light-grey);
}

@media (width < 768px) {
	.quick-search-field {
		min-width: 90vw;
		max-width: 90vw;
	}
}