.mobile-header-wrapper {
	display: flex;
	flex-direction: column;
}

.menu-item {
    display: block;
    padding: 5vw;
    background-color: var(--key-red);
    text-align: center;
    font-size: 1.5rem;
    z-index: 10000;
    width: 100%;
    box-sizing: border-box;
}