hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--grey);
    margin: 0.2rem 0;
    padding: 0;
}

svg {
   display: inline-block;
   vertical-align: middle;
}

.field-label {
    font-family: 'Apercu', sans-serif;
    text-transform: none;
    font-size: 1.5rem;
    text-transform: lowercase;
}

.ing-field {
    border: 1px solid var(--grey);
}

.ing-field:focus {
    border: 1px solid black;
}

span.required-label {
    color: var(--medium-red);
    font-size: 1.2rem;
    margin-left: 5px;
}

.form-description {
    font-family: 'Apercu', sans-serif;
    text-transform: lowercase;
    padding: 10px 0;
    font-size: 1.2rem;
    color: var(--dark-grey);
}

#nr-form {
    font-weight: 300;
    font-size: 1.8em;
    display: flex;
    flex-direction: column;
}

.form-group {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
}

.form-group, .ingredients-fieldset {
    padding-bottom: 50px;
}

.input-data-row {
   padding: 25px;
   border-radius: 3px;
   font-size: 1.5em;
   background-image: none;
   border: none;
}

.input-data-row:focus {
    outline: none;
}

.input-data-row-wrapper {
    border-radius: 3px;
    border: 1px solid var(--grey);
}
.input-data-row-wrapper:focus-within {
    border: 1px solid black;
}

fieldset {
    border: none;
    padding: 0;
}

legend {
    font-weight: 700;
    font-size: 0.9em;
    text-transform: uppercase;
    width: 100%;
}

div.new-ing-fields label, div.new-ing-fields input, div.new-ing-fields textarea {
    margin-right: 2.5vw;
}

.new-ing-field-left {
    width: 16vw;
}

.new-ing-field-ctr {
    width: 10vw;
}

.new-ing-field-right {
    width: 14vw;
    max-width: 14vw;
}
.required-field:after {
    content: "*";
}
.ingredient-group, .add-ing-group-button {
    background-color: var(--faint-grey);
    border: 1px solid var(--grey);
    border-radius: 2px;
    margin-bottom: 50px;
}
.new-ing-fields {
    padding: 2.5vw;
    display: flex;
    flex-direction: row;
    width: 50vw;
}

.new-ing-fields:not(:nth-child(1)) {
    padding-top: 0;
}

.add-ing-group-button {
    padding: 30px;
    width: 100%;
    text-align: center;
}

.close-icon {
    height: 20px;
}
.add-icon {
    height:25px;
}

button > img {
  vertical-align: middle;
}

input[type="submit"], input[type="button"] {
    font-family: 'Apercu', sans-serif;
    text-align: left;
    background-color: var(--light-red);
    border: 1px solid var(--medium-red);
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    width: fit-content;
}

.form-group-buttons {
    border-top: 1px solid var(--grey);
    padding: 20px 0px 20px 30px;
}

.mini-button {
    background-color: var(--light-red);
    padding: 10px;
    margin-left: 15px;
    border-radius: 5px;
    font-size: 0.8em;
}

.error-msg {
    color: var(--key-red);
    padding: 10px;
    text-transform: none;
}

.invalid {
    border: 1px solid red !important;
}

.alert-symbol {
    fill:red;
}

.ing-group-fields {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.ing-group-info {
    margin-right: 2.5vw;
    background-color: var(--faint-grey);
}
.ing-group-info:focus {
    transition: 0.2s;
    background-color: white;
}

.no-pad {
    padding-bottom: 0;
    line-height: 2em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.ing-field-labels {
    padding-top: 5px;
    padding-bottom: 5px;
}

input.close-image-button {
    height: fit-content;
    font-size: 1.2rem;
    margin-left: 20px;
    background-color: var(--faint-grey);
    border: 1px solid var(--light-grey);
}

.close-image-button:focus {
    outline: none;
}

.form-image-wrapper {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-bottom: 30px;
}

.recipe-form-image {
    width: 25vw;
}

.rf-input {
    color: black;
    font-size: 1.5rem;
    border: 1px solid var(--grey);
}

.rf-input:focus {
    border: 1px solid black;
}

.rf-input::placeholder {
    color: var(--grey);
    font-size: 1.5rem;
}

.rf-input-mobile {
    min-width: 90vw;
}

input[type="button"] {
    color: black;
}

input[type="file"] {
    border: none;
    color: black;
}

@media (max-width: 768px) {
    .ing-group-fields {
        display: flex;
        flex-direction: column;
    }
    .igi-name {
        min-width: 70vw;
        max-width: 70vw;
    }

    .igi-notes {
        max-width: 70vw;
        min-width: 70vw;
    }
    .new-ing-field-left {
        border-radius: 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: none;
    }
    .new-ing-field-ctr {
        border-radius: 0px;
        min-width: 85vw;
        border-bottom: none;
    }
    .new-ing-field-right {
        border-radius: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .new-ing-fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        box-sizing: border-box;
        margin: 0;
    }
    .ing-field {
        min-width: 85vw;
        display: block;
        box-sizing: border-box;
        margin: 0;
        color: black;
    }
    .ing-field-labels {
        display: none;
    }
    .ingredient-group {
        width: 90vw;
    }
    div.new-ing-fields label, div.new-ing-fields input, div.new-ing-fields textarea {
        margin-right: 0;
    }
    .ing-num-label {
        text-transform: uppercase;
        font-family: 'Styrene', sans-serif;
        padding: 10px 2.5vw 10px 2.5vw;
        font-size: 1rem;
        font-weight: 500;
    }
    .rem-ing-link {
        margin-top: 10px;
        align-self: flex-end;
        padding: 10px 2.5vw;
        border-radius: 5px;
        color: var(--medium-red);
        border: 1px solid var(--medium-red);
    }
    .form-group-buttons {
        padding: 5vw;
    }
    .form-description {
        text-align: center;
    }
    .rf-input {
        min-width: 90vw;
    }
    .ing-group-info {
        min-width: 80vw;
    }
    #recipe-image-upload {
        min-width: 80vw;
    }
    .recipe-form-image {
        min-width: 45vw;
    }
    .close-image-button {
        min-width: fit-content;
    }
    .form-image-wrapper {
        min-width: 90vw;
        justify-content: space-between;
    }
    input[type="submit"] {
        min-width: fit-content;
        font-size: 1.4rem;
    }
}
