.delete-description {
    font-family: 'Apercu', sans-serif;
    padding: 10px 0;
    font-size: 1.5rem;
}

#profile-page-wrapper {
    width: 85vw;
    margin: 10vh 15vw;
}

.account-info-desc {
    font-size: 2rem;
}

.account-info-label {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: 'Styrene', sans-serif;
    font-weight: 500;
}

.account-info-group {
    padding-bottom: 5vh;
}

.edit-button {
    font-family: 'Apercu', sans-serif;
    text-align: left;
    color: black;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    width: fit-content;
    margin-right: 40px;
    font-size: 1.5rem;
    background-color: var(--light-red);
    border: 1px solid var(--medium-red);
}