h1.nsr-title {
    font-family: 'Canela', sans-serif;
    color: var(--key-red);
    font-size: 5rem;
    margin: 0;
    font-weight: 500;
    padding: 0;
}

h2.nsr-subtitle {
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--key-red);
    margin: 0px;
    margin-bottom: 30px;
}

p.nsr-description {
    font-size: 1.6rem;
}