body {
  font-family: 'Brown', sans-serif;
  font-weight: 100;
}

header.app-main-header {
  width: 100vw;
  text-align: center;
  padding: 50px;
  font-size: 2.5em;
  font-weight: 700;
  box-sizing: border-box;
  margin: 0;
  background-color: #FF320C;
  text-transform: uppercase;
  color: #fff;
}

.app-recipelist {
  padding:5vmax;
  width:35vw;
}