.app-recipe-wrapper {
  display: flex;
}

header.app-main-header {
  font-family: 'Canela', serif;
  width: 100vw;
  text-align: center;
  padding: 2.5vw 5vw;
  font-size: 2.5em;
  font-weight: 700;
  box-sizing: border-box;
  margin: 0;
  background-color: var(--key-red);
  display: flex;
  justify-content: space-between;
}

.app-main-header-title {
  color: #fff;
  display: inline-block;
}

.app-recipelist {
  padding:5vmax;
  width:35vw;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

select, option {
  font-family: 'Apercu', sans-serif;
  font-size: 1.5rem;
  padding: 10px;
  border: none;
  box-sizing: content-box;
  border-radius: 1px;
  -webkit-appearance: none;
  background-color: var(--faint-grey);
  border: 1px solid var(--light-grey);
}

select, option :focus {
    outline: none;
}

select {
  background-image: url(./assets/icons/chevron-down.svg);
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
  border-radius: 2px;
  padding-right: 2rem;
}