.app-recipe-wrapper {
  display: flex;
}

header.app-main-header {
  width: 100vw;
  text-align: center;
  padding: 50px;
  font-size: 2.5em;
  font-weight: 700;
  box-sizing: border-box;
  margin: 0;
  background-color: var(--key-red);
  text-transform: uppercase;
  color: #fff;
}

.app-recipelist {
  padding:5vmax;
  width:35vw;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}