body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Brown';
  src: url('/assets/fonts/Brown-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Brown';
  src: url('/assets/fonts/Brown-Regular.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Brown';
  src: url('/assets/fonts/Brown-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Brown';
  src: url('/assets/fonts/Brown-Thin.otf');
  font-weight: 100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
