@font-face {
  font-family: 'Domaine Text';
  src: url('./assets/fonts/DomaineText-Regular.otf') format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: 'Domaine Text';
  src: url('./assets/fonts/DomaineText-Light.otf');
  font-weight: 100;
}

@font-face {
  font-family: 'Souvenir';
  src: url('./assets/fonts/Souvenir-DemiItalic.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Styrene';
  src: url('./assets/fonts/StyreneAWeb-Bold.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Styrene';
  src: url('./assets/fonts/StyreneAWeb-Regular.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Styrene';
  src: url('./assets/fonts/StyreneAWeb-Light.otf');
  font-weight: 100;
}

@font-face {
  font-family: 'Apercu';
  src: url('./assets/fonts/Apercu-Medium.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Apercu';
  src: url('./assets/fonts/Apercu-Regular.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Apercu';
  src: url('./assets/fonts/Apercu-Light.otf');
  font-weight: 100;
}

:root {
  --key-red: #FF320C;
  --medium-red: #FF6E54;
  --light-red: #FF9582;
  --darker-medium-brown:#C09993;
  --medium-brown: #DFC7C3;
  --light-brown: #F8EBE9;
  --dark-grey:#9A928F;
  --grey: #CECAC9;
  --light-grey: #EBEAE9;
  --faint-grey: #FAF9F8;
  --notification-green:#90ffc7;
  --notification-medium-green:#6ae4a7;
  --notification-yellow: #fff190;
  --notification-medium-yellow: #f3e37a;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Apercu', sans-serif;
  font-weight: 100;
  overflow-x: hidden;
  width: 100vw;
}

p {
  margin: 0;
}

h1 {
  font-weight: 500;
  font-size: 3em;
  padding: 0.5em 0 0.5em 0;
}

.notification {
  opacity: 1;
}

.notification-green {
    text-transform: none;
    font-size: 1.2rem;
    padding: 20px;
    background-color: var(--notification-green);
    width: fit-content;
    border-radius: 5px;
    border: 1px solid var(--notification-medium-green);
}

.notification-yellow {
    text-transform: none;
    font-size: 1.2rem;
    padding: 20px;
    background-color: var(--notification-yellow);
    width: fit-content;
    border-radius: 5px;
    border: 1px solid var(--notification-medium-yellow);
}

.hidden {
    opacity: 0;
    transition: 1s;
}

.not-hidden {
  opacity: 1;
}