@font-face {
  font-family: 'Brown';
  src: url('./assets/fonts/Brown-Bold.otf') format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: 'Brown';
  src: url('./assets/fonts/Brown-Regular.otf') format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: 'Brown';
  src: url('./assets/fonts/Brown-Light.otf') format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: 'Brown';
  src: url('./assets/fonts/Brown-Thin.otf') format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: 'Domaine Text';
  src: url('./assets/fonts/DomaineText-Regular.otf') format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: 'Domaine Text';
  src: url('./assets/fonts/DomaineText-Light.otf');
  font-weight: 100;
}

:root {
  --key-red: #FF320C;
  --darker-medium-brown:#C09993;
  --medium-brown: #DFC7C3;
  --light-brown: #F8EBE9;
  --grey: #CECAC9;
  --light-grey: #EBEAE9;
  --faint-grey: #FAF9F8;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Brown', sans-serif;
  font-weight: 100;
  overflow-x: hidden;
  width: 100vw;
}

p {
  margin: 0;
}

h1 {
  font-weight: 500;
  font-size: 3em;
  padding: 0.5em 0 0.5em 0;
}