#nr-form {
	font-weight: 300;
	font-size: 1.8em;
	display: flex;
	flex-direction: column;
}

.form-group {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 0.7em;
	display: flex;
	flex-direction: column;
	width: 20vw;
}

.form-group label {
	padding: 10px 0;
}

.form-group, .ingredients-fieldset {
	padding-bottom: 50px;
}

input:not([type=submit]):not([type=file]):not([type=button]), textarea {
   padding: 20px;
   border-radius: 3px;
   border: 1px solid var(--grey);
   font-size: 1.5em;
   background-image: none;
   font-family: 'Brown', sans-serif;
   box-sizing: border-box;
}

input:not([type=submit]):not([type=file]):not([type=button])::placeholder, textarea::placeholder {
   font-size: 0.8em;
   color: var(--grey);
}

input:not([type=submit]):not([type=file]):not([type=button]):focus, textarea:focus {
	outline: none;
	border: 1px solid black;
}

.input-data-row {
   padding: 25px;
   border-radius: 3px;
   font-size: 1.5em;
   background-image: none;
   font-family: 'Brown', sans-serif;
   border: none;
}

.input-data-row:focus {
	outline: none;
}

.input-data-row-wrapper {
	border-radius: 3px;
	border: 1px solid var(--grey);
}
.input-data-row-wrapper:focus-within {
	border: 1px solid black;
}

fieldset {
	border: none;
	padding: 0;
}

legend {
	font-weight: 700;
	font-size: 0.9em;
	text-transform: uppercase;
}

div.new-ing-fields label, div.new-ing-fields input {
	margin-right: 50px;
}

.new-ing-field-left {
	width: 20vw;
}

.new-ing-field-ctr {
	width: 10vw;
}

.new-ing-field-right {
	width: 10vw;
}
.required-field:after {
	content: "*";
}
.ingredient-group, .add-ing-group-button {
	background-color: var(--faint-grey);
	border: 1px solid var(--grey);
	border-radius: 2px;
	margin-bottom: 50px;
}
.new-ing-fields {
	padding: 30px;
	display: flex;
	flex-direction: row;
	width: 50vw;
}

.new-ing-fields:not(:nth-child(1)) {
	padding-top: 0;
}

.add-ing-group-button {
	width: 50vw;
	padding: 30px;
	width: 100%;
	text-transform: uppercase;
	font-weight: 500;
	text-align: left;
}
.close-icon {
	height: 20px;
}
.add-icon {
	height:25px;
}

button > img {
  vertical-align: middle;
}

input[type="submit"], input[type="button"] {
	text-align: left;
	background-color: var(--medium-red);
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
  	cursor: pointer;
  	width: fit-content;
}

.form-group-buttons {
	border-top: 1px solid var(--grey);
	padding: 20px 0px 20px 30px;
}

.form-group-buttons p {
	font-size: 0.8em;
	padding: 5px;
}



.mini-button {
	background-color: var(--light-red);
	padding: 10px;
	margin-left: 15px;
	border-radius: 5px;
	font-size: 0.8em;
}

.error-msg {
	color: var(--key-red);
	padding: 10px;
	text-transform: none;
}

.invalid {
	border: 1px solid red !important;
}

.alert-symbol {
	fill:red;
}

.ing-group-fields {
	display: flex;
	flex-direction: row;
}
.ing-group-info {
	margin-right: 50px;
	background-color: var(--faint-grey);
}
.ing-group-info:focus {
	transition: 0.2s;
	background-color: white;
}

.no-pad {
	padding-bottom: 0;
	line-height: 2em;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 0.7em;
	display: flex;
	flex-direction: column;
	width: 20vw;
}

.ing-field-labels {
	padding: 30px 0px 0px 20px;
}

label {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.5em;
}